<div class="container-fluid">
  <div class="row mt-4 border">
    <div class="col-md-4 mb-4">
      <h4 class="my-2">Seleccione consultor:</h4>
      <div>
        <% @users.each_with_index do |user, i| %>
          <div id="users_checkbox" class="form-group form-check">
            <input name="'<%= user["co_usuario"] %>'" type="checkbox" class="form-check-input" id="check<%= i %>">
            <label class="form-check-label" for="check<%= i %>"><%= user["no_usuario"]%></label>
          </div>
        <% end %>
      </div>
      <div class="mb-3">
        <h4>Período:</h4>
          <label for="start" class="w-100">Fecha inicio:</label>
          <input class="mb-3" type="text" id="start_date" data-provide='datepicker' data-date-format="dd/mm/yyyy" >
          <label for="start" class="w-100">Fecha final:</label>
          <input type="text" id="end_date" data-provide='datepicker' data-date-format="dd/mm/yyyy" >
      </div>
      <div class="text-center">
        <button id="relatorio" type="button" class="btn btn-outline-primary w-25 mx-2">Relatorio</button>
        <button id="grafico" type="button" class="btn btn-outline-primary w-25 mx-2">Gráfico</button>
        <button id="pizza" type="button" class="btn btn-outline-primary w-25 mx-2">Pizza</button>
      </div>
    </div>
    <div class="col-md-8 border">
      <div class="align-middle text-center bg-info my-3 py-2">
        <%= image_tag("agence.png" ) %>
      </div>
      <div id="reports">
        <!-- Relatorio || Grafico || Pizza -->
      </div>
    </div>
  </div>
</div>
